* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(50, 80, 86);
    border: 2px solid rgb(225, 204, 204);
    font-family: Arial, Helvetica, sans-serif;
}

.username, .pass {
    margin: 10px 0;
    border: None;
    border-radius: 2px;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

field {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 8px;
    color: blanchedalmond;
    font-size: 16px;
}

#username, #password{
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 8px;
    width: 200px;
    color: rgb(167, 238, 215);
    background-color: rgb(60, 58, 58);
}

.sign {
    display: flex;
}

#reg, #sign-in {
    width: 100px;
    color: blanchedalmond;
    background-color: rgb(55, 47, 47);
    font-size: 14px;
}

button:hover {
    color: aqua;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.remember-me label {
    color: blanchedalmond;
    font-size: 12px;
}

.remember-me label:hover{
    color: aquamarine;
}

a {
    text-decoration: none;
    width: fit-content;
    border: none;
    font-size: 10px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: block;
}

a:hover {
    color: orangered;
}