body {
    margin: 0;
    background-color: rgb(50, 80, 86);
    border: 2px solid black;
}

.username {
    width: fit-content;
    height: 40px;
    border: 2px solid bisque;
    border-radius: 2px;
}
