body {
    margin: 0;
    background-color: rgb(50, 80, 86);
    border: 2px solid rgb(225, 204, 204);
}

.username {
    display: block;
    margin: 20px 0;
    align-items: center;
    width: fit-content;
    height: 40px;
    border: 1px solid bisque;
    border-radius: 2px;
}

#username {
    display: block;
    color: rgb(167, 238, 215);
    background-color: rgb(60, 58, 58);
    font-family: 'arial', Sans-serif;
}